*{
    margin:0px;
padding:0px;
}

.body-class{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #f4e4ba;
    background-image:url('cuurencyimage.jpg');
    background-size: contain;
}
.container{
    background-color: #F8F9FA;
    padding:50px;
    border-radius:10%;
}
form input,button,select{
    width:100%;
      border:none;
    outline:none;  
    border-radius:0.75rem;
}
form input{
    height:30px;;
    border:2px solid grey;
    font-size:1rem;
    padding-left:10px;
}
.dropdown{
     display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:2rem;
 }
.select-container img{
    max-width:1.5rem;
 }
 .select-container select{
    background-color: transparent;
 }
 .dropdown i{
  padding-left:40px;
  position:relative;
  top:10px;
 }
 .select-container{
    display:flex;
    width:6rem;
    justify-content: center;
    align-items: center;
    border-radius:0.5rem;
    border:1px solid lightgray;
   
 }
 .msg{
    margin-top:20px;
    font-weight:600;
 }
 button{
     margin-top:20px;
     height:2rem;
     background-color: purple;
     color:white;;
   
 }